.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-top: 30px;
  row-gap: 5px;
  padding: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  img {
    width: 200px;
    height: 200px;
  }
  &:hover {
    transform: translateY(3px);
  }
}
.cardDescr {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
.cardPrice {
  margin-top: 5px;
  font-size: 24px;
}
.cardBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  background-color: #1f7d63;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  &:hover {
    transition: all 0.2s linear;
    background-color: black;
  }
}
.svg {
  width: 22px;
  height: 22px;
}

//media
@media (max-width: 1702px) {
  .card {
    max-width: none;
  }
}
@media (max-width: 1164px) {
  .card {
    max-width: none;
  }
  .svg {
    display: none;
  }
}
@media (max-width: 1035px) {
  .card {
    img {
      width: 120px;
      height: 120px;
    }
  }
}

@media (max-width: 1035px) {
  .cardBtn {
    font-size: 12px;
  }
  .cardPrice {
    margin-top: 5px;
    font-size: 16px;
  }
}
@media (max-width: 580px) {
  .card {
    align-items: center;
    img {
      width: 260px;
      height: 260px;
    }
  }
  .cardDescr {
    font-size: 22px;
  }
  .cardPrice {
    font-size: 18px;
    font-weight: normal;
  }
  .cardBtn {
    width: 100%;
    font-size: 18px;
    .svg {
      display: block;
    }
  }
}
